@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

:root {
    --blue-color: #1992D3;
}


.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

#search-bar-input {
    border: none;
    background-color: #E2E8F0;
    width: 80%;
    height: 30px;
    border-radius: 20px;
}

#search-icon, #notification-bell {
    font-size: 1.5rem;
    font-weight: bold;
}

#search-icon, #notification-bell {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 100px;
}

.user-and-title-font {
    font-size: 16px;
    font-weight: bold;
}

.circle {
    height: 45px;
    width: 45px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}

.smaller-circle {
    height: 35px;
    width: 35px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
}

#profile-icon {
    background-image: url(./icons/4500_1_01.jpg);
    background-size: cover;
}

.bigger-circle {
    height: 65px;
    width: 65px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    background-image: url(./icons/4500_1_01.jpg);
    background-size: cover;
}


.header-hi-message {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}

#hi {
    font-size: 11px;
    font-weight: bold;
}

#morgan-oakley {
    font-size: 20px;
    font-weight: bold;
}


.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 25px;
}

.button-container > button {
    background-color: var(--blue-color);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    width: 85px;
    height: 35px;
    border-radius: 25px;
}

.button-container > button:hover {
   background-color: #6CB4EE;
}


.sidebar {
    background-color: var(--blue-color);
    grid-row: 1 / 3;
}

.fill {
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
}

.sidebar-content {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

#sidebar-dashboard-title {
    color: white;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar-content-container {
    margin: 25px;
    display: grid;
    grid-template: 0.5fr 4fr 2fr / 1fr;
    gap: 50px;
}

.sidebar-navigation {
    display: grid;
    grid-template: repeat(6, 1fr), 1fr;
    gap: 15px;
}

.sidebar-help {
    display: grid;
    grid-template: repeat(3, 1fr), 1fr;
    gap: 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

#dashboard {
    font-size: 4rem;
}

.main-content {
    background-color: #E2E8F0;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-content-holder {
    height: 80%;
    width: 95%;
    background-color: #E2E8F0;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.tile-holder {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    background-color: #E2E8F0;
    gap: 20px;
}

.tile-holder > div {
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 25px;
    border-left: solid #F0B329 7px;
    position: relative;
}

.tile-holder span {
    font-size: 13px;
    font-weight: normal;
    color: gray;
}

#attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}

a {
    color: var(--blue-color);
}

.card-icon-holder {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-icon-holder > span {
    font-size: 19px;
    color: black
}

.news-holder {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    background-color: #E2E8F0;
    justify-items: center;
    gap: 20px;
}

.announcement-container {
    width: 300px;
    padding: 20px;
    background-color: white;
    color: gray;
    font-size: 11px;
    border-radius: 8px;
}

.announcement-container > span {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.trending-container {
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: white;
    color: gray;
    font-size: 11px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.trending-flex-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.black {
    color: black;
}

.unicorn-photo {
    background-image: url(./icons/7460666.jpg);
    background-size: cover;
}

.cat-photo {
    background-image: url(./icons/4500_1_01.jpg);
    background-size: cover;
}
.spider-photo {
    background-image: url(./icons/8997043.jpg);
    background-size: cover;
}

.penguin-photo {
    background-image: url(./icons/10300_5-08.jpg);
    background-size: cover;
}

.section-titles {
    font-size: 17px;
}

#your-project {
    position: absolute;
    top: 30px;
    left: 30px;
}

#announcements {
    position: absolute;
    top: 30px;
    right: 254px;
}

#trending {
    position: absolute;
    top: 330px;
    right: 309px;
}